<html>

<body>
  <div class="container">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>S No.</th>
          <th>Name</th>
          <th>PH NO</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phoneDetails of contacts">
          <td>{{phoneDetails.id}}</td>
          <td>{{phoneDetails.name}}</td>
          <td>{{phoneDetails.phoneNumber}}</td>
          <td>{{phoneDetails.email}}</td>

          <td><button type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#myModal">Edit</button>
            <button type="button" class="ms-3 btn btn-danger" (click)="deletePhoneumber(phoneDetails)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Contact</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class=" mb-3 mt-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
        </div>
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
          <label for="phno" class="form-label">Ph No:</label>
          <input type="number" class="form-control" id="phno" placeholder="Enter Ph No" name="phno">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Update</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</html>
